body{
    text-align: center;
    background-image: linear-gradient(to right,skyblue,rgb(126, 126, 255),rgb(252, 105, 252));
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}
#inp{
    padding: 10px;
    margin: 10px;
}
#add{
    padding: 10px;
    background-color: blue;
    border-radius: 5px;
}
#maindiv{
    text-align: center;
    display: grid;
    justify-content: center;
}
.list{
    margin: 8px;
    width: 255px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    text-align: center;
    border-radius: 5px;
}
.delbtn{
    background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 5px;
}
